
.navbar{
    z-index: 1;
    background-color: #F1F8E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    position: sticky;
    top: 0;
    overflow: hidden;
}
.navbar li{
    display: inline-block;
    color:#37803a;
    text-decoration: none;
    padding: 15px 15px 0px 15px;
}
.navbar a{
    text-decoration: none;
    color: #4CAF50;
    transition: 0.4s;
    padding: 15px;
}
.navbar a:hover{
    text-decoration: none;
    color:#37803a;
}
.navbar input{
    border-radius: 10px;
    border: 0;
    padding: 10px;
}
